NODE_ENV=development

GRAPHQL=true

URL_MONGO_LOCAL=
URL_MONGO_ATLAS=
URL_MONGO_ATLAS_TEST=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=ecommerce

PERSISTENCIA= fileSystem

# true || false
CHILD_PROCESS=false

# true || false
MODO_CLUSTER=false

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

MAIL_TO=

ETHEREAL_USER=
ETHEREAL_PASS=

GMAIL_USER=
GMAIL_PASS=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUM_ORIGEN=
TWILIO_NUM_DESTINO=