<div class="container mt-3 text-center">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">USER SIGNUP ERROR</h4>
        <p>usuario ya registrado</p>
        <hr>
        <a class="btn btn-primary mb-0" href="/signup">Volver</a>
    </div>
</div>