NODE_ENV=production

URL_MONGO_LOCAL=
URL_MONGO_ATLAS=
URL_MONGO_ATLAS_TEST=

PERSISTENCIA=MongoDB

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

MAIL_TO=

ETHEREAL_USER=
ETHEREAL_PASS=

GMAIL_USER=
GMAIL_PASS=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUM_ORIGEN=
TWILIO_NUM_DESTINO=